

<% if (locals.userBlg) { %>
   <% locals.userBlg.forEach(userBlg => { %>
      <div class="card">
         <% if (locals.delete) { %>
            <form action="/blog/delete/<%=userBlg._id.toString()%>" method="post" class="delete">
               <button type="submit" class="deleteBtn">Delete</button>
            </form>
         <% } %>
        
        <p class="userNames">@<%= userBlg.name %></p>
        <p class="blogTitle"><%= userBlg.title %></p>
        <p class="BlogText"><%= userBlg.content %></p>
      </div>
   <% }); %>
<% } %>


