<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogify</title>
    <%- include('./partials/BootStrapCss') %>
    <style>
        .navbar{
            position: fixed;
            top:0;
            width:100vw;
            z-index: 1;
            right:0;
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100svh;
            width: 100vw;
        }
        form{
            width: 30vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .mb-3{
                width:35vw;
            }

            .btn{
                color: white;
                background-color: #9002d2;
                border: none;
                box-shadow: 0px 0px 10px 0px #650093;
                border-radius: 30px;
                padding: 10px 20px;
                font-weight: bold;
                transition: all 0.3s ease-in-out;

                &:hover{
                    background-color: #ae00ff;
                    box-shadow: 0px 0px 10px 0px #ae00ff;

                }
            }
        }

        .contentInp{
            height: 50vh;
        }
       
    @media screen and (max-width: 768px){
        form{
            width: 95vw;
            .mb-3{
                width:95vw;
            }
        }
    }
        
    </style>
</head>
<body>
    <form action="/blog/addblog" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" >Blog Title</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Blog Content</label>
          <textarea type="text" class="form-control contentInp" id="exampleInputPassword1" name="content" required></textarea>
        </div>

        <button  type="submit" class="btn">Submit</button>
      </form>

    <%- include('./partials/nav') %>
  
    <%- include('./partials/BootStrapScript') %>
</body>
</html>